body {
    margin: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .App {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .sparkle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(1);
    opacity: 1;
    animation: sparkle-animation 0.3s forwards;
  }
  
  @keyframes sparkle-animation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  